<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> Eat-Da-Burger! </h1>
		</div>
		<div class="col-xs-6 text-center" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-xs-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				  		<!-- {{this.Date}} -->
				</div>
				<div class="col-xs-3 text-center">
					<form method="POST" action="/burgers/update?_method=PUT" class="button-size">
						<input input type="hidden" type="text" name="burger_id" value={{this.id}}>	
						<!-- Solution 2 Edit: Added input for a customer name -->
						<input class="custInput" input type="text" name="customer" placeholder="Customer?"><br>'
						<!-- end edit -->
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-xs-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
				<!-- 
					Solution 2 Edit: If a customer name gets sent with a burger
					list the customers name
					-->

			  		{{#if this.Customer.customer}}
			  			<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}  (Eaten by {{this.Customer.customer}}) " readonly>
					<!-- 
					Solution 2 Edit: If there is no customer name,
					just list the burger.
						-->
			  		{{else}}
			  			<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
			  		{{/if}}
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>
